* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

body {
    font-family: Helvetica;
    -webkit-font-smoothing: antialiased;
    background: #e2e6ed;
}

h2 {
    text-align: center;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: white;
    padding: 30px 0;
}

/* Table Styles */

.table-wrapper {
    margin: 10px 70px 70px;
    box-shadow: 0px 35px 50px rgba(0, 0, 0, 0.2);
}

.fl-table {
    border-radius: 5px;
    font-size: 12px;
    font-weight: normal;
    /*border:1px black;*/
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;
    white-space: nowrap;
    background-color: white;
}

    .fl-table td,
    .fl-table th {
        /*text-align: center;*/
        padding: 8px;
    }

    .fl-table td {
        border-right: 1px solid black;
        border-top: 1px solid black;
        font-size: 12px;
        /*border: 1px black;*/
    }

    .fl-table thead th {
        color: #ffffff;
        background: #232a28;
    }

        .fl-table thead th:nth-child(odd) {
            color: #ffffff;
            background: #324960;
        }

    .fl-table tr:nth-child(even) {
        background: #dfd7d7;
    }

/* Responsive */

@media (max-width: 767px) {
    .fl-table {
        display: block;
        width: 100%;
    }

    .table-wrapper:before {
        content: "Scroll horizontally >";
        display: block;
        text-align: right;
        font-size: 11px;
        color: black;
        padding: 0 0 10px;
    }


    .fl-table thead,
    .fl-table tbody,
    .fl-table thead th {
        display: block;
    }

        .fl-table thead th:last-child {
            border-bottom: none;
        }

    .fl-table thead {
        float: left;
    }

    .fl-table tbody {
        width: auto;
        position: relative;
        overflow-x: auto;
    }

    .fl-table td,
    .fl-table th {
        padding: 20px 0.625em 0.625em 0.625em;
        height: 60px;
        vertical-align: middle;
        box-sizing: border-box;
        overflow-x: hidden;
        overflow-y: auto;
        width: 120px;
        font-size: 13px;
        text-overflow: ellipsis;
    }

    .fl-table thead th {
        text-align: left;
        border-bottom: 1px solid #f7f7f9;
    }

    .fl-table tbody tr {
        display: table-cell;
    }

        .fl-table tbody tr:nth-child(odd) {
            background: none;
        }

    .fl-table tr:nth-child(even) {
        background: transparent;
    }

    .fl-table tr td:nth-child(odd) {
        background: #f8f8f8;
        border-right: 1px solid #e6e4e4;
    }

    .fl-table tr td:nth-child(even) {
        border-right: 1px solid #e6e4e4;
    }

    .fl-table tbody td {
        display: block;
        text-align: center;
    }
}

.exportExcel {
    padding: 5px;
    border: 1px solid grey;
    margin: 5px;
    cursor: pointer;
}


th {
    background: #c5c5c5;
}

table {
    border-collapse: collapse;
    border: 1px solid #cdcdcd;
    font: normal 12px arial;
    width: 100%;
}

td, th {
    border: 1px solid #cdcdcd;
    padding: 2px;
}

/* Section two*/

@media only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px) {
    /* Section three*/
    table, thead, tbody, th, td, tr {
        display: block;
    }
        /* Section four*/
        thead tr {
            position: absolute;
            top: -9999px;
            left: -9999px;
        }

    tr {
        border-bottom: 1px solid #ccc;
    }
    /* Section five*/
    td {
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50%;
    }

        td:before {
            position: absolute;
            top: 3px;
            left: 6px;
            width: 45%;
            padding-right: 10px;
            white-space: nowrap;
            font-weight: bold;
        }
        /* Section six*/

       
}

/* Section seven*/
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    body {
        padding: 0;
        margin: 0;
        width: 320px;
    }
}
/* Section eight*/
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    body {
        width: 495px;
    }
}